/target/
/test-output/
.classpath
target/*
src/test/resources/drivers/.DS_Store

# Compiled class file
*.class

# Log file
*.log

*.class
*.properties
target/classes/META-INF/maven/com.learnselenium/com.learnselenium/pom.properties
target/classes/META-INF/maven/com.learnselenium/com.learnselenium/pom.properties
target/classes/META-INF/maven/com.learnselenium/com.learnselenium/pom.xml
target/test-classes/com/learnselenium/basics/BasicOperations.class
target/classes/META-INF/maven/com.learnselenium/com.learnselenium/pom.xml
